@tailwind base;
@tailwind components;
@tailwind utilities;

.react-grid-item>div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.playpen-sans {
  font-family: "Playpen Sans", cursive;
  font-weight: 300;
  font-style: normal;
}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}